.student-dash-rumble-list-wrapper {
  padding: 2rem 1.5rem;
  @include bp(mid) {
    padding: 3rem;
  }
  .student-dash-rumble-list-container {
    @include wrapped-container();
    .no-rumbles {
      display: flex;
      align-content: flex-start;
      flex-flow: column wrap;
      .message-text-container {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
        P {
          color: $c-grey-80;
        }
      }
    }
    h2 {
      color: $c-grey-70;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    .rumble-list {
      @include scaling-flexbox;
      .rumble-card {
        @include card();
        border: 1px solid $c-grey-20;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        .student-button-container {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          button {
            width: 100%;
            margin-top: 1rem;
            padding: 0.5rem 1.2rem;
          }
        }
        .scheduled-rumble {
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: 1.4rem;
          font-weight: 600;
          text-align: center;
          line-height: 2.1rem;
          img {
            max-width: 150px;
          }
        }
      }
    }
  }
}
