.student-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

@import './studentDashboardRumbleList.scss';
@import './studentDashboardSectionList.scss';

@import './studentViewRumblePage/studentClassList.scss';
@import './studentViewRumblePage/studentWaitingroom.scss';
@import './studentSumbissionForm/submissionForm.scss';
@import './studentSumbissionForm/submissionSuccess.scss';
@import './peerFeedbackPage/feedbackForm.scss';
@import './peerFeedbackPage/feedbackSubmissionCard.scss';
@import './peerFeedbackPage/renderPeerFeedback.scss';
@import './validationModal/ParentValidationModal.scss';
@import './validationModal/ParentValidationForm.scss';
