.student-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

@import './studentDashboardRumbleList.scss';
@import './studentDashboardSectionList.scss';
@import './studentViewSubmission.scss';

@import './studentViewRumblePage/studentClassList.scss';
@import './studentViewRumblePage/studentWaitingroom.scss';
@import './studentSumbissionForm/submissionForm.scss';
@import './studentSumbissionForm/submissionSuccess.scss';
