.teacher-view-rumble {
  @import './teacherRumbleStudentList.scss';
  .prompt-info-wrapper {
    .prompt-info-container {
      @include wrapped-container();
      background-color: $w-grey-10;
      padding: 1.6rem;
      border-radius: 1.6rem;
    }
    margin: 1rem;
  }
}
