// Set box-sizing globally
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// Ensure the app containers fills the screen
html,
body,
#root,
.App {
  min-height: 100vh;
}

// Allow us to flex containers
.App {
  display: flex;
  flex-direction: column;
}

// Font Variables
$text-font: 'Open Sans', sans-serif;
$display-font: 'Rock Salt', cursive;

// Set the font-size so 1rem = 10px for easier styling and
// also set the base font of the project
html {
  font-size: 62.5%;
  font-family: $text-font;
}
* {
  font-family: $text-font;

  // automatically break too-long words
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Colors
$primary-lite: #d5e6fb;
$primary-base: #5872ff;
$primary-dark: #093269;

$slate: #8f9bb3;

// Testing different error colors
$red: #a30015;
$red-bright: #e0223b;

$w-grey-05: #fafafa;
$w-grey-10: #f1f1f1;
$w-grey-20: #d0d0d0;
$w-grey-30: #b6b6b6;
$w-grey-40: #9c9c9c;
$w-grey-50: #717171;
$w-grey-60: #535353;
$w-grey-90: #262626;

$c-grey-10: #e8e8e8;
$c-grey-20: #cbd2d9;
$c-grey-40: #7b8794;
$c-grey-70: #47525d;
$c-grey-80: #323f4b;

$white: #ffffff;
$black: #000000;
