$mid: 500px;
$tablet: 650px;
$large: 800px;

@mixin bp($point) {
  @if $point == mid {
    @media screen and (min-width: $mid) {
      @content;
    }
  } @else if $point == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $point == large {
    @media screen and (min-width: $large) {
      @content;
    }
  } @else {
    @media screen and (min-width: $point) {
      @content;
    }
  }
}
