// The power of mixins! All your buttons should be consistent with this.
@mixin button($bgcolor: $primary-base, $font-color: $white, $border: none) {
  text-decoration: none;
  cursor: pointer;
  border: $border;
  display: block;

  background-color: $bgcolor;
  border-radius: 50px;
  padding: 1.8rem;

  color: $font-color;
  text-align: center;
  font-size: 1.5rem;

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($bgcolor, 5%);
    transition: all 0.2s ease-in-out;
  }
  &:disabled,
  &.disabled {
    background-color: #c4c4c4;
    transition: all 0.2s ease-in-out;
    cursor: not-allowed;
  }
}

@mixin button-alt {
  @include button($white, $primary-base, 1px solid $primary-base);
  padding: 1rem 2rem;
  &:hover {
    background-color: fade-out($primary-base, 0.95);
  }
}

@mixin text-button($color, $fade: 0.25) {
  color: $color;
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:active,
  &:hover {
    color: fade-out($color, $fade);
    transition: all 0.1s ease-in;
  }
}

@mixin placeholder($color: $slate) {
  &::placeholder {
    color: $color;
    font-weight: 400;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-weight: 400;
    font-style: italic;
  }
  ::-ms-input-placeholder {
    color: $color;
    font-weight: 400;
    font-style: italic;
  }
}

@mixin text-input($font-size: 1.6rem) {
  @include placeholder();
  outline: none;
  position: relative;
  z-index: 3;

  border: 0.5px solid $c-grey-40;
  &:focus {
    border-color: $c-grey-80;
  }

  background-color: transparent;
  border-radius: 8px;
  padding: 1.2rem;

  font-weight: 600;
  font-size: $font-size;
  color: $c-grey-80;
}

@mixin heading($font-size: 2rem) {
  font-family: $display-font;
  font-size: $font-size;
  width: 100%;
  text-align: center;
}

@mixin wrapped-container() {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin clickable-bg($bg-color: $primary-base, $darken-amt: 5%) {
  cursor: pointer;
  background-color: $bg-color;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: darken($bg-color, $darken-amt);
    transition: all 0.15s ease-in-out;
  }
}

@mixin scaling-flexbox() {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  @include bp(mid) {
    overflow: visible;
    flex-flow: row wrap;
    padding-bottom: unset;
  }
  & > div {
    min-width: 20rem;
    @include bp(mid) {
      min-width: unset;
      width: 45%;
    }
    @include bp(750px) {
      width: 30%;
    }
  }
}

@mixin card($bg-color: $white, $darken-amt: 5%, $margin: 2rem) {
  padding: 1.6rem;
  border-radius: 1.6rem;
  margin-bottom: $margin;
  margin-right: $margin;
  @include clickable-bg($bg-color, $darken-amt);
  .content {
    padding: 1rem 0;
    &:first-of-type {
      padding-top: 0;
    }
    border-bottom: 1px solid $c-grey-20;
    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }
    width: 100%;

    h3 {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $c-grey-40;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    h4 {
      font-size: 1.8rem;
      line-height: 2.1rem;
      font-weight: 600;
    }
  }
}

@mixin table($widths...) {
  $col: "[class$='col']";
  $row: "[class$='row']";
  $border: 1px solid $c-grey-10;

  .list-header {
    background-color: $w-grey-05;
    color: $w-grey-90;
  }
  #{$row},
  .list-header {
    display: flex;
    flex-flow: row nowrap;
    color: $w-grey-60;
    border-bottom: $border;

    #{$col} {
      padding: 1rem;
      @include bp(mid) {
        padding: 1.5rem 2rem;
      }
    }
    // this allows us to pass in a helpful list of
    // column widths into the mixin
    @for $i from 1 through length($widths) {
      #{$col}:nth-of-type(#{$i}) {
        $width: nth($widths, $i);
        @if $width == 0 {
          display: none;
        } @else {
          display: block;
          width: nth($widths, $i);
        }
      }
    }
  }
}
