// Add this drop shadow to different containers to give your page a more 3D-feel!
@mixin drop-shadow($color: #0005) {
  box-shadow: 0 4px 4px $color;
  -moz-box-shadow: 0 4px 4px $color;
}

// The power of mixins! All your buttons should be consistent with this.
@mixin button(
  $bgcolor: $blue,
  $font-color: $white,
  $font-size: 1.6rem,
  $padding: 0.75rem 5rem,
  $border-width: 0,
  $border-color: #000000
) {
  padding: $padding;
  text-decoration: none;
  text-align: center;
  border: $border-width solid $border-color;
  border-radius: 4px;

  color: $font-color;
  background-color: $bgcolor;
  font-family: $display-font;
  font-size: $font-size;
  @include drop-shadow;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($bgcolor, 5%);
    transition: all 0.2s ease-in-out;
  }
  &:disabled,
  &.disabled {
    background-color: #c4c4c4;
    cursor: not-allowed;
  }
}

@mixin text-button($color, $darken-amt: 15%) {
  color: $color;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease-in;
  &:active,
  &:hover {
    color: darken($color, $darken-amt);
    transition: all 0.15s ease-in;
  }
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  ::-ms-input-placeholder {
    color: $color;
  }
}

@mixin text-input() {
  border: none;
  border-bottom: 2px solid $white;
  background-color: transparent;
  color: $white;
  font-family: $text-font;
  padding: 0.5rem;
  @include placeholder(#fff4);
  position: relative;
  z-index: 3;
}

@mixin list($listname) {
  .#{$listname}-list {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    .#{$listname}-card {
      width: 30%;
      margin-right: 2%;
      margin-bottom: 1rem;
      padding: 1rem;
      border: 1px solid black;
      @include drop-shadow;
      background-color: $white;
      &:hover {
        background-color: #fffc;
        cursor: pointer;
      }
    }
  }
}
