// Add this drop shadow to different containers to give your page a more 3D-feel!
@mixin drop-shadow($color: #0005) {
  box-shadow: 0 4px 4px $color;
  -moz-box-shadow: 0 4px 4px $color;
}

// The power of mixins! All your buttons should be consistent with this.
@mixin button($bgcolor: $primary-base, $font-color: $white) {
  text-decoration: none;
  cursor: pointer;
  border: none;

  background-color: $bgcolor;
  border-radius: 50px;
  padding: 1.8rem;

  color: $font-color;
  text-align: center;
  font-size: 1.5rem;

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($bgcolor, 5%);
    transition: all 0.2s ease-in-out;
  }
  &:disabled,
  &.disabled {
    background-color: #c4c4c4;
    transition: all 0.2s ease-in-out;
    cursor: not-allowed;
  }
}

@mixin text-button($color, $darken-amt: 15%) {
  color: $color;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:active,
  &:hover {
    color: darken($color, $darken-amt);
    transition: all 0.1s ease-in;
  }
}

@mixin placeholder($color: $c-grey-base) {
  &::placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  ::-ms-input-placeholder {
    color: $color;
  }
}

@mixin text-input($font-size: 1.6rem) {
  @include placeholder();
  outline: none;
  position: relative;
  z-index: 3;

  border: 0.5px solid $c-grey-40;
  &:focus {
    border-color: $c-grey-80;
  }

  background-color: transparent;
  border-radius: 8px;
  padding: 1.2rem;

  font-weight: 600;
  font-size: $font-size;
  color: $c-grey-80;
}

@mixin list($listname) {
  .#{$listname}-list {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    .#{$listname}-card {
      width: 30%;
      margin-right: 2%;
      margin-bottom: 1rem;
      padding: 1rem;
      border: 1px solid black;
      @include drop-shadow;
      background-color: $white;
      &:hover {
        background-color: #fffc;
        cursor: pointer;
      }
    }
  }
}

@mixin heading($font-size: 2rem) {
  font-family: $display-font;
  font-size: $font-size;
  width: 100%;
  text-align: center;
}
