.fullscreen-image {
  background-color: #0007;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  z-index: 150;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .close-button {
    position: absolute;
    top: 2vh;
    right: 2vh;
    z-index: 155;
    font-size: 5vh;
    color: $white;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.15s ease-in;
    &:hover {
      opacity: 1;
      transition: opacity 0.15s ease-in;
    }
  }

  @import './imageWrapper.scss';
  @import './imageInfo.scss';
  @import './imageControls.scss';
}
