.info {
  &.hidden {
    display: none;
  }
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background-color: #000a;
  width: 100%;
  padding: 0.5rem 1rem 1rem;

  p {
    text-align: center;
    color: $white;
    font-family: $text-font;
    font-weight: 300;
    letter-spacing: 0.04rem;
  }
  .info-left {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    h2 {
      width: 300px;
      max-width: 100%;
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      padding-bottom: 0.3rem;
    }
    .prompt {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
  .info-right {
    padding: 1rem 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    .user {
      font-weight: 200;
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
      font-family: $display-font;
      letter-spacing: 0.05rem;
      line-height: 2rem;
    }
    .score {
      font-weight: 200;
      font-size: 1.6rem;
      strong {
        font-weight: 500;
        color: $red;
      }
    }
  }
}
