.img-wrapper {
  height: 88vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .react-transform-component {
    overflow: visible;

    .react-transform-element {
      img {
        max-width: 100%;
        max-height: 90vh;

        &.rotate-180 {
          transform: rotate(-180deg);
        }
        @mixin horizontal {
          max-height: 100vw;
          max-width: 90vh;
        }
        &.rotate-90 {
          transform: rotate(-90deg);
          @include horizontal;
        }
        &.rotate-270 {
          transform: rotate(-270deg);
          @include horizontal;
        }
      }
    }
  }
}
