.invite-to-section {
  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .invite-code {
    .content {
      padding: 2rem;
      border-bottom: 1px solid $w-grey-20;
      textarea {
        resize: none;
        @include text-input;
        width: 100%;
        word-break: break-all;
      }
    }
    .footer {
      padding: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      button {
        padding: 1rem 2rem;
        margin: 0.5rem;
      }
    }
  }
  .section-picker {
    padding: 2rem;
    .section-picker-list {
      .section-picker-item {
        font-size: 1.6rem;
        line-height: 2rem;
        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
        @include text-button($black);
      }
    }
  }
}
