.teacher-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

@import './studentList.scss';
@import './promptQueueDisplay.scss';
@import './submissionList.scss';
@import './teacherDashboardRumbleList.scss';
@import './teacherDashboardSectionList.scss';
