.student-list-wrapper {
  .student-list-container {
    @include wrapped-container;
    .student-list {
      @include table(60%, 0, 0, 40%);
      @include bp(tablet) {
        @include table(0, 35%, 35%, 30%);
      }
      // ***
      .no-students {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .message-text-container {
          font-size: 16px;
          font-weight: 600;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          p {
            color: $c-grey-80;
            margin-bottom: 1rem;
          }
        }
      }
      // ***
      .table-body {
        .table-row {
          @include clickable-bg($white, 2.5%);
        }
      }
    }
  }
}
