.message-text-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    .message {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.8rem 0rem;
      width: 100%;
    }
    button {
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
      color: $primary-base;
    }
  }