.teacher-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  @import '../teacherNoStudents.scss';
  // .message-text-container {
  //   .message {
  //     font-size: 1.2rem;
  //     padding: 0.8rem 0rem;
  //     width: 100%;
  //   }
  //   button {
  //     padding: 0;
  //     border: none;
  //     background: none;
  //     cursor: pointer;
  //     color: $primary-base;
  //   }
  // }
}

@import './promptQueueDisplay.scss';
@import './teacherDashboardRumbleList.scss';
@import './teacherDashboardSectionList.scss';
@import './createNewRumble.scss';
@import './inviteToSection.scss';
@import './teacherViewSectionPage/teacherViewSection.scss';
@import './teacherViewRumblePage/teacherViewRumble.scss';
@import './teacherDashboardStudentList.scss';
@import './teacherViewSubmission.scss';
@import './teacherViewStudent.scss';
