.teacher-view-submission {
  .prompt-info-wrapper {
  }
  .section-info-wrapper {
  }
  .image-wrapper {
    .image-container {
      @include wrapped-container();
      background-color: $w-grey-05;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      @include bp(mid) {
        padding: 2rem;
      }
      @include bp(tablet) {
        padding: 3rem;
      }
      img {
        @include wrapped-container(700px);
      }
    }
  }
}
