.teacher-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

@import './promptQueueDisplay.scss';
@import './submissionList.scss';
@import './teacherDashboardRumbleList.scss';
@import './teacherDashboardSectionList.scss';
@import './createNewRumble.scss';
@import './inviteToSection.scss';
@import './teacherViewSectionPage/teacherViewSection.scss';
@import './teacherViewRumblePage/teacherViewRumble.scss';
@import './teacherDashboardStudentList.scss';
