.teacher-dash-section-list-wrapper {
  padding: 1.5rem;
  padding-top: 0;
  @include bp(mid) {
    padding: 3rem;
    margin-top: -1rem;
    padding-top: 0;
  }
  .teacher-dash-section-list-container {
    @include wrapped-container();
    position: relative;
    h2 {
      color: $c-grey-70;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    .button-row {
      display: flex;
      flex-flow: row nowrap;
      button {
        &:first-of-type {
          margin-right: 1rem;
        }
        margin-bottom: 2rem;
        @include button-alt;
      }
    }
    .section-list {
      @include scaling-flexbox;
      .section-card {
        @include card($darken-amt: 1%);
        border: 1px solid $c-grey-20;
      }
    }
    .no-sections {
      & > div {
        display: flex;
        flex-flow: column wrap;
        overflow-x: scroll;
        overflow-y: hidden;
        .speach {
          margin-left: 7.2rem;
          cursor: pointer;
        }
        .rocket {
          margin-right: 7.2rem;
        }
        @include bp($mid) {
          overflow: visible;
          // flex-flow: column wrap;
          padding-bottom: unset;
          min-width: 20rem;
          display: flex;
          @include bp($mid) {
            min-width: unset;
            width: 45%;
          }
          @include bp(750px) {
            width: 30%;
          }
        }
      }
    }
  }
}

.create-new-section-modal {
  form {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    .form-content {
      padding: 2rem;
      border-bottom: 1px solid $w-grey-20;
      :last-child {
        margin-bottom: 0;
      }
    }
    input[type='submit'] {
      margin: 1.6rem 2rem;
      @include button();
      padding: 0.8rem 1.6rem;
      font-size: 1.2rem;
      align-self: flex-end;
    }
  }
}
