.auth-page-wrapper {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .auth-page {
    width: 300px;
    max-width: 100%;
    background-color: $white;
    padding: 1rem;

    .auth-header {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 1rem;
      a {
        width: 50%;
        text-align: center;
        font-family: $display-font;
        font-size: 2rem;
        cursor: pointer;
        @include text-button($jade, 7.5%);
      }
    }

    form {
      .form-input .input-field input {
        border-color: $dark-blue;
        color: black;
      }
      .submit {
        @include button($orange);
      }
    }
  }
}
