.button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: block;

  background-color: $primary-base;
  border-radius: 50px;
  padding: 1rem 2rem;

  color: $white;
  text-align: center;
  font-size: 1.5rem;

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($primary-base, 5%);
    transition: all 0.2s ease-in-out;
  }
  &:disabled,
  &.disabled {
    transition: all 0.2s ease-in-out;
    cursor: not-allowed;
    padding: 1rem 7rem;
    border: $c-grey-40 solid 1px;
    color: $c-grey-40;
    background-color: $w-grey-10;
    font-weight: 600;
  }

  &.primary-with-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 0.5rem;
    }
  }
  &.secondary {
    background: $white;
    color: $primary-base;
    padding: 1rem 2rem;
    border: 1px solid $primary-base;
    &:hover {
      background-color: fade-out($primary-base, 0.95);
    }
    &.secondary-with-arrow {
      justify-content: center;
      display: flex;
      align-items: center;
      img {
        margin-left: 0.5rem;
      }
    }
  }

  &.text {
    border: none;
    background: none;
    padding: 0;
    // color: $color;
    cursor: pointer;
    transition: all 0.1s ease-in;
    &:active,
    &:hover {
      // color: fade-out(0.25);
      transition: all 0.1s ease-in;
    }
  }
}
