.button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: block;

  background-color: $primary-base;
  border-radius: 50px;
  padding: 1rem 2rem;

  color: $white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.25px;
  line-height: 15px;
  font-weight: 700;

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($primary-base, 5%);
    transition: all 0.2s ease-in-out;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    border: $c-grey-40 solid 0.5px;
    color: $c-grey-40;
    background-color: $w-grey-10;
    padding: 1.5rem 7rem;

    //figma colors- can't remember if we decided against the figma last week
    // border: $c-grey-70 solid .5px;
  }

  &.primary-with-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 11px;
    font-size: 11px;
    letter-spacing: 0.5px;
    img {
      margin-left: 0.5rem;
    }
  }

  &.secondary,
  &.secondary-with-arrow {
    background: $white;
    color: $primary-base;
    border: 1px solid $primary-base;

    &:hover {
      background-color: fade-out($primary-base, 0.95);
    }
  }

  &.secondary-with-arrow {
    line-height: 11px;
    font-size: 11px;
    letter-spacing: 0.5px;

    justify-content: center;
    display: flex;
    align-items: center;
    img {
      margin-left: 0.5rem;
    }
  }

  &.text {
    border: none;
    background: none;
    padding: 0;
    color: $primary-base;
    cursor: pointer;
    transition: all 0.1s ease-in;
    &:active,
    &:hover {
      color: fade-out($primary-base, 0.25);
      transition: all 0.1s ease-in;
    }
  }
}
