.checkbox {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-bottom: 2rem;

  label {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;

    & > :not(input) {
      text-align: left;
      margin: 0 0 0 1rem;
    }

    input {
      margin: 0;
    }
  }
  .message {
    font-size: 1rem;
    line-height: 1.2rem;
    font-style: italic;
    color: $c-grey-80;
    font-weight: 400;
    width: 100%;
    margin-top: 0.3rem;
    .red {
      color: $red-bright;
    }
  }
}
