.count-down-end {
  font-size: 1.2rem;
  color: $w-grey-50;
  font-weight: bold;
  padding: 40px 50px;
  border: 1px solid $c-grey-40;
  border-radius: 20px;
  color: $w-grey-50;
}

.count-down-wrapper {
  font-size: 1.2rem;
  color: $w-grey-50;
  font-weight: bold;
  padding: 40px 50px;
  border: 1px solid $c-grey-40;
  border-radius: 20px;
  color: $w-grey-50;
  text-align: center;
  h2 {
    margin: 3px 3px;
  }
  .time-count {
    font-size: 3rem;
  }
}
