.feedback-content-wrapper {
  @include wrapped-container();

  background-color: $w-grey-10;
  border-radius: 1.6rem;

  width: auto;
  margin: 1rem;
  padding: 1.6rem;
  @include bp($tablet) {
    padding: 3rem;
    @include bp($large) {
      background-color: $w-grey-10;
      @include bp($xlarge) {
        margin: auto;
      }
    }
  }
  .feedback-content {
    @include bp($large) {
      display: flex;
      flex-direction: row;
    }
    @include wrapped-container(900px);
    @include table(60%, 40%, 0, 0);
    @include bp($tablet) {
      @include table(65%, 35%, 0, 0);
    }
    h2 {
      width: 100%;
      text-align: left;
      font-size: 1.2rem;
      color: $c-grey-40;
      margin-bottom: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    .submission-container {
      align-items: stretch;
      @include bp($tablet) {
        margin-bottom: 3rem;
        @include bp($large) {
          margin: 0;
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      img {
        width: 100%;
        @include bp($large) {
          width: 25rem;
        }
      }
      a {
        font-size: 1.4rem;
      }
    }
    .feedback-wrapper {
      margin-left: 0;
      width: 100%;
      font-size: 1.2rem;
      @include bp($tablet) {
        font-size: 1.4rem;
        @include bp($large) {
          margin-left: 8rem;
        }
      }
      .table-header .row-wrapper {
        font-weight: 600;
        @include bp($tablet) {
          font-size: 1.4rem;
        }
        & > .table-col {
          padding: 1.5rem 2rem;
        }
        // TODO : fix the way this is centered - same as below.
        // Brandon mentioned using `flex-grow:1;` but I never got it working.
        & > div:last-of-type {
          text-align: center;
          display: inline;
        }
      }
      .table-body .table-row {
        background-color: $w-grey-05;
        .row-wrapper .table-col {
          padding: 1.5rem 2rem;
        }
        .row-wrapper .feedback-question {
          // this gives us the hanging indent
          padding-left: 3.5rem;
          text-indent: -1.5rem;
        }
        // TODO : fix the way this is centered - same as above.
        // Brandon mentioned using `flex-grow:1;` but I never got it working.
        .row-wrapper .feedback-score {
          display: inline;
          text-align: center;
        }
      }
    }
    .message {
      margin-left: 5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      line-height: 5rem;
      p {
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }
}
