.submit-form-button {
  @include button;
  @mixin button {
  }
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include bp(375px) {
    margin-left: 6rem;
    margin-bottom: 1rem;
  }

  @include bp($mid) {
    margin-left: 19rem;
    margin-bottom: 1rem;
  }
  @include bp($tablet) {
    float: right;
  }
  @include bp($large) {
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: right;
  }
}

.feedback-form-details1 {
  @include wrapped-container();
  background-color: $w-grey-10;
  padding: 3rem 0rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include bp(375px) {
    @include wrapped-container();
    padding: 2rem 0rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    width: 90%;
  }

  @include bp($mid) {
    @include wrapped-container();
    padding: 3rem 0rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    width: 95%;
  }
  @include bp($tablet) {
    @include wrapped-container();
    padding: 3rem 0rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .form-header {
    color: $w-grey-40;
    font-size: 2em;
    width: 90%;

    margin-right: 8rem;
  }
  .card-header {
    color: $w-grey-40;
    font-size: 2em;
    width: 30%;
    margin-left: 3rem;
  }

  .card-content {
    display: flex;

    @include bp(375px) {
      flex-wrap: wrap;
    }
    @include bp($mid) {
      flex-wrap: wrap;
    }

    @include bp($tablet) {
    }
  }

  .radio-button-section {
    display: flex;
    flex-flow: column;
    // margin-left: 3rem;
    max-width: 140%;
    padding-top: 1rem;
    @include bp(375px) {
      justify-content: center;
      margin-left: 1rem;
      width: 95%;
    }

    @include bp($mid) {
      justify-content: center;
      margin-left: 2rem;
      width: 90%;
    }
    @include bp($large) {
      width: 130%;
    }
  }
  .radio-wrapper {
    padding: 2rem;
  }
  .form-questions {
    font-size: 1.5rem;
    color: #535353;
    margin-left: -2rem;
  }
  .radio-group-wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 1.5rem;
    width: 109%;
    margin-left: -4rem;

    @include bp(375px) {
      width: 125%;
    }
    @include bp($mid) {
      width: 120%;
    }
  }

  .radio-group-list {
    display: flex;
    justify-content: space-around;
    color: $w-grey-40;
    padding-bottom: 0.5rem;
  }

  input[type='radio'] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transform: scale(2);
    display: flex;
    align-items: center;
    color: $w-grey-40;
  }
  label {
    align-content: center;
    padding-left: 0.7rem;
    font-size: 1.4rem;
  }
  .footer-section-1,
  .footer-section-2,
  .footer-section-3 {
    display: flex;
    width: 100%;
    // margin-left: -2.5rem;
    font-size: 1.3rem;
    color: $w-grey-40;
    padding-bottom: 3rem;
    @include bp(375px) {
      margin-left: -1.5rem;
      width: 110%;
    }
    @include bp($large) {
      // margin-left: -2rem;
    }
  }

  .footer-section-1,
  .footer-section-2 {
    border-bottom: 2px solid grey;
  }

  .footer2 {
    margin-left: auto;
    margin-right: 2rem;
    @include bp(375px) {
      margin-right: 1rem;
    }
  }
  .footer1 {
    margin-left: 2rem;
    @include bp(375px) {
      margin-left: 0rem;
    }
    @include bp($mid) {
      margin-left: 0rem;
    }
    @include bp($large) {
      margin-left: 2rem;
    }
  }
}

//same styling that is on the submission component
.submission-details {
  @include wrapped-container();
  background-color: $w-grey-10;
  display: flex;
  padding: 3rem 0rem;
  border-radius: 1rem;
  flex-direction: column-reverse;
  margin-top: 1rem;
  @include bp($tablet) {
    flex-direction: row-reverse;
  }
  h2 {
    color: $w-grey-40;
    font-size: 2em;
    width: 90%;
    margin: auto;
  }
  .image-wrapper {
    .image-container {
      @include wrapped-container();
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 100%;
      .placeholder {
        // This has to be the same size as the img
        // img size is hard coded
        // ??better way to do this so it looks good without hard coding size
        @include bp($tablet) {
          height: 500px;
          width: 400px;
        }
      }
      img {
        padding: 0rem 2rem;
        margin-top: 2rem;
        width: 100%;
        @include bp($tablet) {
          height: 500px;
          width: 400px;
        }
      }
      a {
        margin-top: 2rem;
        font-size: 1.6em;
        font-weight: 500;
        cursor: pointer;
        color: #5872ff;
      }
    }
  }
}
