// TODO split this up
.peer-feedback {
  .form-wrapper {
    margin: 1rem;
    form {
      @include wrapped-container();
    }
  }
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp(large) {
    justify-content: flex-end;
  }

  .submit-form-button {
    @include button;
    padding: 1rem 7rem;
  }
}

.feedback-submission-card {
  background-color: $w-grey-10;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1.5rem;

  & > h2 {
    font-size: 2rem;
    color: $c-grey-40;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .card-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include bp(large) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .image-wrapper {
    margin-bottom: 1rem;
    @include bp(large) {
      margin-right: 2rem;
    }
  }

  .radio-button-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;

    .form-header {
      color: $w-grey-40;
      font-size: 2em;
      margin-bottom: 1.5rem;
    }

    .radio-wrapper {
      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $c-grey-20;
      }

      .form-questions {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        color: $w-grey-60;
      }

      .radios {
        padding: 0 1rem;

        .radio-group-wrapper {
          display: flex;
          flex-flow: column nowrap;

          .radio-group-list {
            display: flex;
            justify-content: space-between;
            color: $w-grey-40;
            padding-bottom: 0.5rem;

            label {
              align-content: center;
              padding-left: 0.7rem;
              font-size: 1.4rem;
              line-height: 1.8rem;
            }
            input[type='radio'] {
              margin-top: 1rem;
              margin-bottom: 1rem;
              transform: scale(2);
              display: flex;
              align-items: center;
              color: $w-grey-40;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.3rem;
    color: $w-grey-40;
  }
}
