.feedback-wrapper {
  @include wrapped-container();
  @include table(60%, 40%, 0, 0);
  @include bp($tablet) {
    @include table(65%, 35%, 0, 0);
  }
  @include bp($large) {
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    background-color: unset;
  }
  padding: 1rem 3rem;
  background-color: $w-grey-10;
  border-radius: 1.6rem;
  h2 {
    color: $w-grey-40;
    font-size: 1.4em;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .feedback-container {
    width: 100%;
    .message {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      line-height: 5rem;
      p {
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }
}
