button {
  @include button-alt;
  padding-left: 5rem;
  padding-right: 5rem;
}

.feedback-form-details {
  @include wrapped-container();
  background-color: $w-grey-10;
  padding: 3rem 0rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  @include bp($mid) {
  }
  @include bp($tablet) {
  }
  h2 {
    color: $w-grey-40;
    font-size: 2em;
    width: 90%;
    margin: auto;
  }

  .card-content {
    display: flex;
    max-width: 100%;
    @include bp($mid) {
      flex-wrap: wrap;
    }
    @include bp($tablet) {
    }
  }

  .radio-button-section {
    display: flex;
    flex-flow: column;
    margin-left: 3rem;
    max-width: 100%;
    padding-top: 1rem;
    @include bp($mid) {
    }
  }
  .radio-wrapper {
    padding: 2rem;
  }
  .radio-group-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    justify-content: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .radio-group-list {
    display: flex;
    flex-flow: table-row;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    border-bottom: 2px solid grey;
    padding-bottom: 2rem;
  }

  input[type='radio'] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transform: scale(1.5);
    display: flex;
    align-items: center;
  }
  label {
    align-content: center;
    padding-left: 0.7rem;
  }
  .image-wrapper {
    .image-container {
      @include wrapped-container();
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 100%;
      .placeholder {
        @include bp($tablet) {
          height: 500px;
          width: 400px;
        }
      }
      img {
        padding: 0rem 2rem;
        margin-top: 2rem;
        width: 100%;

        @include bp($mid) {
          height: 500px;
          width: 400px;
        }
      }
      a {
        margin-top: 2rem;
        font-size: 1.6em;
        font-weight: 500;
        cursor: pointer;
        color: #5872ff;
      }
    }
  }
}
