.form-input {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;

  label {
    font-family: $display-font;
    color: $seafoam;
    text-shadow: 0 2px 2px #0006;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  .input-field {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.5rem;
    .show-hide-btn {
      position: absolute;
      font-size: 2rem;
      height: 2rem;
      padding: 0;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 3;
      background: none;
      border: none;
      @include text-button(white);
    }
    input {
      @include text-input;
    }
  }
  .message {
    position: relative;
    bottom: 1.1rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: $white;
    font-family: $text-font;
    font-weight: 300;
    width: 100%;
    opacity: 0;
    letter-spacing: 0.06rem;
    .red {
      color: $red;
    }
  }

  // Error styling
  &.error {
    input {
      border-color: $red;
    }
    .message {
      bottom: 0;
      z-index: 1;
      transition: all 0.3s ease-in;
      opacity: 1;
    }
  }
}
