.form-input {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-bottom: 2rem;

  label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 4px;
    margin-left: 8px;
  }
  .input-field {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    input {
      @include text-input;
    }
    .show-hide-btn {
      position: absolute;
      font-size: 2rem;
      height: 2rem;
      padding: 0;
      top: 1.2rem;
      right: 1.2rem;
      z-index: 3;
      background: none;
      border: none;
      @include text-button($c-grey-40);

    }
  }
  &.error .input-field input {
    border-color: $red-bright;
  }

  .message {
    font-size: 1rem;
    line-height: 1.2rem;
    font-style: italic;
    color: $c-grey-80;
    font-weight: 400;
    width: 100%;
    margin-top: 0.3rem;
    .red {
      color: $red-bright;
    }
  }
}
