.loader-wrapper {
  width: 100%;
  .loader-container {
    @include wrapped-container;
    padding: 2rem;
    p {
      font-size: 2rem;
      line-height: 2.4rem;
      color: $c-grey-80;
    }
  }
}
