.menu {
  @include wrapped-container;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  right: 1.6em;
  top: 40px;
  width: 125px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid $w-grey-20;
  a {
    font-family: $text-font;
    color: $black;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
