.section-info-wrapper {
  margin: 1rem;
  margin-top: 0;
  .section-info-container {
    @include title-section;
    width: auto;
    padding: 1.6rem;
    border-radius: 16px;
    max-width: 1200px;
  }
}
