// TODO split the styles for feedback and submission
.image-wrapper {
  h2 {
    color: $w-grey-40;
    font-size: 2em;
    margin-bottom: 1rem;
  }
  .image-container {
    @include wrapped-container();
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    .placeholder {
      // This has to be the same size as the img
      // img size is hard coded
      // ??better way to do this so it looks good without hard coding size
      @include bp($tablet) {
        height: 500px;
        width: 400px;
      }
    }
    img {
      width: 100%;
      @include bp($tablet) {
        height: 500px;
        width: 400px;
      }
    }
    a {
      margin-top: 2rem;
      font-size: 1.6em;
      font-weight: 500;
      cursor: pointer;
      color: $primary-base;
    }
  }
}
