.welcome-container {
  text-align: center;
  .welcome-message {
    padding: 2rem;
    @include bp(tablet) {
      padding: 2rem 9rem;
    }
    font-size: 2rem;
    line-height: 3rem;
  }
  .button-row {
    border-top: 1px solid $w-grey-20;
    padding-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem 1rem;
    button {
      padding: 0.5rem 2rem;
    }
    label {
      color: #323f4b;
      font-family: $text-font;
      font-size: 1.2rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      cursor: pointer;
      input {
        margin-right: 1rem;
      }
    }
  }
}
