.feedback-submission-card {
  background-color: $w-grey-10;
  border-radius: 1rem;
  border: $w-grey-40 solid 1px;
  padding: 2rem;
  margin-bottom: 1.5rem;

  .submission-content {
    & > h2 {
      font-size: 2rem;
      color: $c-grey-40;
      margin-bottom: 1.5rem;
      font-weight: 600;
    }
  }

  .card-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include bp(large) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
