.peer-feedback {
  .form-wrapper {
    margin: 1rem;
    form {
      @include wrapped-container();
    }
  }
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp(large) {
    justify-content: flex-end;
  }

  .submit-form-button {
    @include button;
    padding: 1rem 7rem;
  }
  .submit-form-button:disabled {
    @include button;
    padding: 1rem 7rem;
    border: $w-grey-60 solid 1px;
    color: $w-grey-60;
    background-color: $w-grey-10;
  }
}
