//This is similar to teacher stuffs
.section-content-switcher-container {
  @include wrapped-container();
  margin: 50px auto;
  h3 {
    font-size: 2.2rem;
    font-weight: bold;
    color: $c-grey-40;
    margin: 20px 0px;
  }
  p {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .section-content {
    @include scaling-flexbox;
    justify-content: space-betw;
    .rumble-item {
      padding: 20px;
      border: 1px solid $w-grey-40;
      border-radius: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      .content {
        line-height: 5em;
        h3 {
          font-size: 1.8rem;
          margin: 0px 0px;
        }
        h4 {
          font-size: 1.6rem;
        }
        button {
          @include button-alt;
        }
      }
    }
  }
}
