.submission-success-wrapper {
  @include wrapped-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .success-image-wrapper {
    margin-top: 50px;
    img {
      width: 300px;
      @include bp($tablet) {
        width: 400px;
      }
    }
  }
  p {
    font-size: 1.8rem;
    margin-top: 20px;
    @include bp($mid) {
      font-size: 2rem;
    }
  }
}
