.submission-form-wrapper {
  @include wrapped-container;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .submission-form-container {
    width: 100%;
    border: 1px dashed $w-grey-40;
    border-radius: 20px;
    padding: 20px;
    .submission-form {
      height: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .preview {
        img {
          max-height: 250px;
        }
      }
      label {
        max-width: 300px;
        div {
          display: flex;
          text-align: center;
          flex-direction: column;
          cursor: pointer;
        }
        span {
          margin-top: 20px;
          @include button-alt;
        }
      }
      button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        @include button-alt;
      }
    }
  }
}
