.auth-page {
  padding: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 400px;
  max-width: 100%;
  @include bp(tablet) {
    width: 350px;
    padding: 4rem 3rem;
  }
  @include bp(large) {
    padding: 6rem 3.5rem;
  }

  h1 {
    @include heading(1.8rem);
    margin-bottom: 3rem;
    @include bp(360px) {
      font-size: 2.4rem;
    }
  }

  .clever-button {
    width: 100%;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    &.small {
      font-size: 1rem;
      line-height: 1.3rem;
      font-weight: 400;
    }

    color: $c-grey-70;
    text-align: center;
    margin-bottom: 1rem;
    a {
      font-weight: 600;
      @include text-button($c-grey-80);
      white-space: nowrap;
    }
  }
  form {
    width: 100%;
    margin: 3rem 0;
    input[class='submit'] {
      @include button();
      width: 100%;
      margin-top: 1rem;
    }
    .button {
      margin-top: 1rem;
      width: 100%;
      padding: 1rem 2rem;
    }
  }
}
